
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center pt-lg-4 text-center" style="margin-bottom: 200px; margin-top: 100px;">
    <div class="col-lg-5 col-md-7 col-sm-9">
        <h1 class="display-404 py-lg-3">Payment Completed</h1>
        <h2 class="h3 mb-4">Your order has been successfully placed. Order Id #2358934</h2>
        <p class="fs-md mb-4">
        <a href="#">Contact us</a> if you have any issue or question
        </p>
        


        
    </div>
</div>

<div class="invoice invoice-content invoice-5">
    <div class="back-top-home justify-content-center align-items-center text-center hover-up mt-30 ml-30 pb-4">
        <h3><a class="hover-up" href="{% url 'core:dashboard' %}"><i class="fi-rs-settings-sliders mr-5"></i> Dashboard</a></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner">
                    <div class="invoice-info" id="invoice_wrapper">
                        <div class="invoice-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="logo d-flex align-items-center">
                                        <a href="index.html" class="mr-20"><img src="{% static 'assets/imgs/theme/favicon.svg' %}" alt="logo" /></a>
                                        <div class="text">
                                            <strong class="text-brand">Art Exhibit Platform</strong> <br />
                                            Kapurdhara, Alkabasti Marg, Kathmandu
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <h2>INVOICE</h2>
                                    <h6>ID Number: <span class="text-brand">98657</span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-banner">
                            <img src="{% static 'assets/imgs/invoice/banner.png' %}" alt="">
                        </div>
                        <div class="invoice-center">
                            <div class="table-responsive">
                                <table class="table table-striped invoice-table">
                                    <thead class="bg-active">
                                        <tr>
                                            <th>Title</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_item in order.cartorderitems_set.all %}
                                        <tr>
                                            <td>
                                                <div class="item-desc-1">
                                                    <span>{{order_item.item}}</span>
                                                    {% if order_item.image %}
                                                        <img src="{{ order_item.image }}" alt="Product Image" width="50" height="50">
                                                    {% endif %}
                                                    
                                                </div>
                                            </td>
                                            <td class="text-center">${{order_item.price}}</td>
                                            <td class="text-center">{{ order_item.qty}}</td>
                                            <td class="text-right">${{order_item.total}}</td>
                                        </tr>
                                        {% endfor %}
                                    
                                        <tr>
                                            <td colspan="3" class="text-end f-w-600">SubTotal</td>
                                            <td class="text-right">${{order.price}}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td colspan="3" class="text-end f-w-600">Tax</td>
                                            <td class="text-right">$85.99</td>
                                        </tr> -->
                                        <tr>
                                            <td colspan="3" class="text-end f-w-600">Grand Total</td>
                                            <td class="text-right f-w-600">${{order.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="invoice-bottom pb-80">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="mb-15">Invoice Infor</h6>
                                    <p class="font-sm">
                                        
                                        <strong>Invoice To:</strong>{{request.user|title}} <br />
                                      
                                    </p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <h6 class="mb-15">Total Amount</h6>
                                    <h3 class="mt-0 mb-0 text-brand">${{order.price}}</h3>
                                    <p class="mb-0 text-muted">Taxes Included</p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="hr mt-30 mb-30"></div>
                                <p class="mb-0 text-muted"><strong></strong>We appreciate your purchase at Art Exhibit Platform and look forward to your next visit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-btn-section clearfix d-print-none">
                        <a href="javascript:window.print()" class="btn btn-lg btn-custom btn-print hover-up"> <img src="{% static 'assets/imgs/theme/icons/icon-print.svg' %}" alt="" /> Print </a>
                        <a id="invoice_download_btn" class="btn btn-lg btn-custom btn-download hover-up" onclick="downloadInvoice()">
                            <img src="{% static 'assets/imgs/theme/icons/icon-download.svg' %}" alt="" /> Download
                          </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<!-- Invoice JS -->
<script src="{% static 'assets/js/invoice/jspdf.min.js' %}"></script>
<script src="{% static 'assets/js/invoice/invoice.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script>
   
    document.getElementById('invoice_download_btn').addEventListener('click', function() {
        var element = document.getElementById('invoice_wrapper');
        html2pdf(element);
    });
</script>


{% endblock content %}